.deals_main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.deals_content{
    max-width: 100%;
    width: 100%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
li{
    list-style: none;
}
.deals_user{
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color:white;
    box-shadow: 0 1px 4px hsl(0deg 0% 50% / 11%);
    justify-content: center;
    width: 184px;
    align-items: center;
    gap: 10px;
    height: 300px;
}
.heading{
    font-size: 30px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    margin: 10px 0px;
}
.product_name{
    font-size: 22px;
    font-weight: 600;
    color:  #0073e6;
}
.image{
      height: 200px;
}
.deals_detail_section{
    display: flex;
    background-color:#f0f0f5;
    /* box-shadow: 0 1px 4px hsl(0deg 0% 50% / 11%); */
    padding: 30px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.product_details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:#ffffff;
    width: 50%;
    padding: 30px;
}
.details{
    font-size: 24px;
    color: #9999ff;
}
.cost{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
.description{
    font-weight: 500;
}
.product_image{
    width: 400px;
}
.back_section{
    display: flex;
    gap: 10px;
}
.back{
    width: 30px;
    height: 30px;
}
.brand_name{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.likes_section{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
 .rating{
    width: 12%;
} 
.sale{
    width: 50px;
    height: 30px;
    align-self: flex-start;
}
.like{
    width: 30px;
    height: 30px;
}
.link{
    text-decoration: none;
}

@media only screen and (max-width:500px){
    .rating{
        width: 40%;
    }
    .deals_user{
      width: 250px;
    }
}